NetCore.GeolocationApp/bin/
NetCore.GeolocationApp/obj/
NetCore.GeolocationApp.Database/obj/
NetCore.GeolocationApp.Database/bin/
NetCore.GeolocationApp.Test/obj/
NetCore.GeolocationApp.Test/bin/
NetCore.GeolocationApp.GoogleMapsApi/obj/
NetCore.GeolocationApp.GoogleMapsApi/bin/
.vs/
